.InfoMeal{
    margin: 5px;
    height: 80%;
    overflow-y: auto;
}



.infoImageContainer{
    position: relative;
    width: 93%;
    margin: 10px;
    box-shadow: 0px 0px 10px 0px rgba(117, 117, 117, 0.629);
}

.recipe.info{
    position: absolute;
    font-size: x-large;
    width: 100%;
    height: 100%;
}

.MealImage{
    grid-area: 1/1;
    width: 100%;
    transition: 300ms ease;
}

.MealImage:hover{
    opacity: .3;
    transition: 300ms ease;
}


.IngredientHeaderContainer{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-right: 5px;
    background-color: white;
}

.IngredientHeaderContainerBackground{
    position: absolute;
    height: 40px;
    width: 83%;
    background-color: white;
    opacity: .7;
    z-index: 3; 
    /* border: solid; */
}

.IngredientHeaderContainer h3{
    font-family: 'Anonymous Pro', monospace;
    font-size: 20px;
    font-weight: normal;
    margin: 10px;
}


.IngredientHeaderContainer .greenButton{
    padding-top: 2px;
    padding-bottom: 4px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: medium;

}

.scrollable{
    padding-bottom: 50px;
}

.ingredientList{
    list-style-type: none; 
    padding: 0;
}

.InfoMeal hr{
    margin: 0;
}





@media only screen and (min-width: 700px){
    .InfoMeal{
        height: 92%;
    }
}