.InfoContainer{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50px;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 30px;
}

.InfoMain{
    margin-top: 10px;
    width: 80%;
    height: auto;
}