
.InfoContainer{
    position: fixed;
    width: 95%;
    height: 100%;
    top: 110%;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 30px;
    transition: 400ms ease;
    z-index: 2;
    box-shadow: 0px 0px 8px 0px rgba(117, 117, 117, 0.629);
}

.InfoContainer.Up{
    top: 100px;
    transition: 400ms ease;
}

.InfoMain{
    margin-top: 10px;
    width: 85%;
    height: auto;
}

.InfoHeader{
    width: 100%;
    display: flex;
    justify-content: space-between;
}


@media only screen and (min-width: 700px){
    .InfoContainer{
        top: 100%;
        right: 1.5%;
        width: 33%;
        margin-top: 20px;
        transition: 500ms ease;
    }
    .InfoContainer.Up{
        top: 0;
    }
}