.SearchContainer{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    top: calc(100% - 48px);
    background-color: #d1e0b4;
    /* transition: 500ms ease; */
    box-shadow: 0px 0px 8px 0px rgba(117, 117, 117, 0.629);
}

.SearchContainer.Up{
    top: 55px;
}


.SearchMain{
    width: 90%;
    height: auto;
    
}

.SearchHeader{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.SearchResultsContainerTop{
    margin:0;
    margin-top: 20px;
    
}

.SearchResultsContainer{
    height: 100%;
    width: 100%;
    padding-top: 20px;
    overflow-y: auto;
}

@media only screen and (min-width: 700px){
    .SearchContainer, .SearchContainer.Up{
        right: 0;
        top: 0;
        width: 68.5%;
        transition: 200ms ease;
        justify-content: left;
        z-index: 2;
        
    }
    .SearchMain{
        margin-left: 4.5%;
        padding-right: 2%;
        width: 90%;
        margin-top: 20px;
        transition: 200ms ease;
    }
    
    .SearchMain.mid{
        width: 42%;
        transition: 200ms ease;
    }

    .arrow{
        display: none;
    }
}
