@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&family=Comfortaa:wght@400;500;600;700&display=swap');

.App {
    font-family: 'Anonymous Pro', monospace;
    color: #4f6d43;
    font-size:small;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

h1{
    font-family: 'Comfortaa', cursive;
    font-size: large;
    margin: 0;
    padding: 5px;
}

h2{
    font-family: 'Comfortaa', cursive;
    font-size: medium;
    margin: 0;
    padding: 5px;
}
