.Background{
    position: fixed;
    height: 100%;
    width: 100%; 
}

.background-image{
    position: fixed;
    height: 100%;
    width: 100%;
    background-image: url('../../assets/mobileBackground.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 500ms ease;
}

.background-overlay{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: white;
    opacity: .8;
}

@media only screen and (min-width: 700px){
    .background-image{
        background-image: url('../../assets/desktopBackground.jpg');
        background-position: left;
        transition: 500ms ease;
    }
}